.floating-panel {
  position: absolute;
  height: 150px;
  width: 400px;
  bottom: 40px;
  left: 10px;
  z-index: 5;
  background-color: #fff;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}

.mapwithmarkers-image {
  img {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 5px 0px 0px 5px;
  }
}

.mapwithmarkers-info {
  margin: auto auto;
  text-align: left;
}

.mapwithmarkers-title {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 0px 5px 0px 0px;
  font-family: "Avenir";
  font-weight: bold;
  font-size: 18px;
}

.mapwithmarkers-poster {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Avenir";
  font-size: 16px;
  color: #afafaf;
}

.mapwithmarkers-price {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Avenir";
  font-size: 16px;
}

.listing-info-price-container {
  background-color: #7cc1d1;
  color: #ffffff;
  font-family: "Avenir";
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
